@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.brand-color{
    color: #1D1E33 !important;
}

.brand-background-color{
    background-color: #1D1E33;
}

.analogous-brand-color{
    color: #4E506A;
}

.analogous-brand-background-color{
    background-color: #4E506A;
}

.color-white{
    color: #ffffff;
}

.background-color-white{
    background-color: #ffffff;
}

.montserrat-font{
    font-family: "Montserrat", serif;
    text-decoration: none;
}

.background-color-light-purple{
    background-color: #f0e8fc;
}


header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px, 0;
    width: 1920px;
    height: 110px;
    top: 0%;
    z-index: 1000;
    position: fixed;
}

.bar-item li{
    display: inline-block;
    padding: 45px 60px;
    font-size: 22px;
}

li,a{
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 22px;
    color: #1D1E33;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

li:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

button{
    border: 6px #ffffff;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, serif;
    margin-right: 5%;
    background: linear-gradient(to left, #ffffff 50%, #1D1E33 50%) right;
    transition: 0.25s ease-in-out;
    background-size: 200%;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-position: left;
    color: white !important;
}

offset-button{
    padding: 19px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-family: "Montserrat", serif;
    background: linear-gradient(to left, #1D1E33 50%, #ffffff 50%) right;
    transition: 0.4s ease-in-out;
    background-size: 200%;
}

offset-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-position: left;
    color: #1D1E33 !important;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

.container{
    padding: 0.01em 0.01em;
    position: relative;
    text-align: center;
}

.container-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-top-left{
    position: absolute;
    top: 10px;
    left: 16px;
}


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
    z-index: 2000;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.window {
	padding-left: 10px;
    padding-right: 10px;
	padding-bottom: 10px;
    padding-top: 0%;
	background: #ffffff;
	width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
	position: relative;
	transition: all 5s ease-in-out;
    z-index: 2000;
}

.reg-top-bar{
    text-align: center;
    font-family: "Arial", serif;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    width: 100%;
    top: 0;
    height: 80px;
    border-bottom-style: double;
    border-color: #1D1E33;
}

.close-button {
	position: absolute;
    top: 15%;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #1D1E33;
}

.close-button:hover {
	color: #4E506A;
}

.fa-times-thin:before {
	content: '\00d7';
}

form label{
    font-size: 19px;
    color: #1D1E33;
    letter-spacing: 2px;
}

input[type="text"]{
    width: 100%;
    height: 43px;
	padding: 12px;
	border: 1px solid #1D1E33;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
    font-size: 18px;
}


input[type="submit"]{
    border: 6px #ffffff;
    padding: 15px;
    overflow: hidden;
    
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, serif;
    color: white;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
}

input[type="submit"]:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #4E506A;
    color: white;
}

.form-align{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    
}

.no-padding-bottom{
    padding-bottom: 0% !important;
}

.text-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.text-link:hover{
    color: #4E506A !important; 
    cursor: pointer;
    text-shadow: 0px 0.5px 0.5px #1D1E33;
}

#dark-panel{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#dark-panel:hover{
    color: #ffffff !important;
    cursor: pointer;
    text-shadow: 0 1px 2px #ffffff;
}

.content-title{
    font-size: 50px; 
    font-family: 'Times New Roman', Times, serif;
}

.image-div{
    width: 200px; 
    display: inline-block; 
    padding-left: 100px; 
    padding-right: 100px;
}

.icon-text-link{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: inset 0 0 0 0 #1D1E33;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.icon-text-link:hover{
    cursor: pointer;
    box-shadow: inset 200px 0 0 0 #1D1E33;
    color: #ffffff !important;
}