@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.brand-colour{
    color: #1D1E33 !important;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 0;
    width: 1920px;
    height: 110px;
    top: 0%;
    /*background: linear-gradient(270deg, rgba(29,30,51,1) 0%, rgba(88,182,236,1) 67%, rgba(255,255,255,1) 100%);
    */
    background-color: white;
}

.bar-item2 li{
    display: inline-block;
    padding: 26px 60px;
    font-size: 22px;
}

li,a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #1D1E33;
    text-decoration: none;
    cursor: pointer;
}

li:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

button{
    border: 6px #ffffff;
    padding: 15px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1D1E33;
    margin-right: 5%;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #1D1E33;
    color: white;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}





.nav-topbar{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    height: 90px;
    width: 1920px;
    background: rgb(29,30,51);
    background: linear-gradient(270deg, rgba(29,30,51,1) 0%, rgba(88,182,236,1) 67%, rgba(255,255,255,1) 100%);
    position: fixed !important;
    z-index: 0.5;
    overflow: hidden;
    top: 0%;
    left: 0%;
    right: 0%;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
}

.nav-topbar2{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background: linear-gradient(270deg, rgba(29,30,51,1) 0%, rgba(88,182,236,1) 67%, rgba(255,255,255,1) 100%);
}



/*
header{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
    height: 90px;
    width: 1920px;
    background: rgb(29,30,51);
    background: linear-gradient(270deg, rgba(29,30,51,1) 0%, rgba(88,182,236,1) 67%, rgba(255,255,255,1) 100%);
    position: fixed !important;
    z-index: 0.5;
    overflow: hidden;
    top: 0%;
    left: 0%;
    right: 0%;
}*/



.logo{
    cursor: pointer;
}



.reg-form{
    z-index: 1;
}

.bar-item{
    height: 40%;
    width: auto;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    float: left;
    float: initial;
    padding: 90px 30px;
    font-size: 18px;
    color: #1d1e33;
}

.bar-item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.nav-align{
    position: relative;
}



.color-black{
    color: black;
}

.color-white{
    color: white;
}

.a2-button{
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.a2-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}